{% extends 'base.html' %}
{% block conteudo %}

    <!--Sessão de login-->
    <h2>Preencha suas informações:</h2>

    <!--formulario de login-->
    <form>
        <label name="loginEmail">E-mail: </label>
        <input type="text" name="txtLoginMail" id="logMail"><br><br>

        <label name="loginSenha">Senha: </label>
        <input type="text" name="txtLoginSenha" id="logPasswd"><br><br>

        <button type="submit" onclick="">Entrar</button>
    </form>

    <!--link para voltar à pagina anterior-->
    <a href='/cadastro'>Voltar</a><br><br>

    <!--caminhos possiveis-->
    <a href="/administrador">Acesso Administrador</a><br>
    <a href="/usuario">Acesso Usuário</a>
    <a href="/login">Login</a><br><br>


{% endblock %}